flows.json
[{"id":"5f72a295.6942f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ab4b868.307ec8","type":"ui_group","z":"","name":"Default","tab":"57ef1145.7f1978","order":1,"disp":true,"width":"6","collapse":false},{"id":"57ef1145.7f1978","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f82d8c31.fc6f88","type":"function","z":"5f72a295.6942f4","name":"PreToken","func":"global.set(\"cem\",msg.payload.cem)\nglobal.set(\"bfs\",msg.payload.bfs)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"wat\",msg.payload.wat)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":300,"wires":[["fa377abe.7070a8"]]},{"id":"fa377abe.7070a8","type":"http request","z":"5f72a295.6942f4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":519,"y":288.9999952316284,"wires":[["70fcf17c.cef018"]]},{"id":"d3ee7558.b3b3b8","type":"debug","z":"5f72a295.6942f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":958.0000114440918,"y":30.99999713897705,"wires":[]},{"id":"70fcf17c.cef018","type":"function","z":"5f72a295.6942f4","name":"Pre Prediction","func":"var cem = global.get('cem')\nvar bfs = global.get('bfs')\nvar fa = global.get('fa')\nvar wat = global.get('wat')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fag = global.get('fag')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement\", \"Blast Furnace Slag\", \"Fly Ash\", \"Water\",\"Superplasticizer\", \"Coarse Aggregate\", \"Fine Aggregate\", \"Age\"], \"values\": [[cem,bfs,fa,wat,sp,ca,fag,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":716.0000076293945,"y":251.99999904632568,"wires":[["4f864de3.28267c"]]},{"id":"4f864de3.28267c","type":"http request","z":"5f72a295.6942f4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://private.eu-gb.ml.cloud.ibm.com/ml/v4/deployments/a544bff1-53b9-4476-bd95-12692b8322ec/predictions","tls":"","persist":false,"proxy":"","authType":"","x":809.5000076293945,"y":195.99999904632568,"wires":[["9095358f.e538b8","d3ee7558.b3b3b8"]]},{"id":"9eca3465.3a227","type":"ui_form","z":"5f72a295.6942f4","name":"","label":"","group":"6ab4b868.307ec8","order":0,"width":0,"height":0,"options":[{"label":"Cement","value":"cem","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash ","value":"fa","type":"number","required":true,"rows":null},{"label":"Water ","value":"wat","type":"number","required":true,"rows":null},{"label":"Superplasticizer ","value":"sp","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fag","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cem":"","bfs":"","fa":"","wat":"","sp":"","ca":"","fag":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":111,"y":342.9999952316284,"wires":[["f82d8c31.fc6f88"]]},{"id":"5c4e8494.74c8cc","type":"ui_text","z":"5f72a295.6942f4","group":"6ab4b868.307ec8","order":1,"width":0,"height":0,"name":"","label":"Compressive Strength of Concrete","format":"{{msg.payload}}","layout":"row-spread","x":927.6000366210938,"y":348.20000743865967,"wires":[]},{"id":"9095358f.e538b8","type":"function","z":"5f72a295.6942f4","name":"","func":"msg.payload=msg.\nreturn msg;","outputs":1,"noerr":4,"initialize":"","finalize":"","x":669.6000366210938,"y":91.60000133514404,"wires":[["5c4e8494.74c8cc"]]}]